/* Services Section */
.services-section {
    background-color: rgb(219,227,234);
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    .section-container {
      max-width: 56rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      
      @media (min-width: 640px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
      @media (min-width: 1024px) {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .services-list {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1rem;
        padding: 0;
        @media (min-width: 640px) {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        .service-item {
          display: flex;
          align-items: flex-start;
          padding: 1rem;
          background-color: #ffffff;
          border-radius: 0.3rem;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          &:hover,
          &:active {
            transform: scale(1.02); 
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          }
          
          .service-icon {
            flex-shrink: 0;
            color: #6b7280;
            
            svg {
              fill: currentColor;
              height: 2rem;
              width: 2rem;
            }
          }
          .service-content {
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            height: 100%;
            h3 {
              margin-top: 0;
              font-size: 1.125rem;
              line-height: 1.75rem;
              font-weight: 700;
              color: rgb(42,57,77);
              margin-bottom: .5rem;
            }
            
            p {
              margin-top: 0;
              font-size: 0.875rem;
              line-height: 1.25rem;
              color: #4b5563;
              margin-bottom: 0.75rem;
            }
            
            .service-tags {
              margin-top: auto;
              display: flex;
              gap: 0.5rem;
              align-items: flex-end;
              
              .service-tag {
                padding: 0.25rem 0.5rem;
                font-size: 10px;
                font-weight: 400;
                font-family: monospace;
                border-radius: 9999px;
                background-color: #e5e7eb;
                color: #1f2937;
              }
            }
          }
        }
      }
    }
  }