<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../assets/main.css" rel="stylesheet">
</head>
<body>
	<section class="hero-section">
		<div class="hero-container">
		  <div class="hero-content">
			<h1>Desarrollo y Programación a Medida</h1>
			<p class="hero-description">
				Creación de sitios web, apps móviles, software personalizado, automatización, minería de datos e integración de APIs
			</p>
			<div class="hero-button-wrapper">
			  <a href="#" class="hero-button">
				Contáctanos
			  </a>
			</div>
		  </div>
		</div>
	  </section>
	<section class="services-section">
  		<div class="section-container">
			<h2>Desarrollo y Programación</h2>
			<ul class="services-list">
				{% include service-card.html %}		  
			</ul>
		</div>
	</section>
</body>
</html>