---
layout: compress
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    <script data-goatcounter="https://dk2hpg5qzp.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>